.post {
  --height: 5rem;
  height: var(--height);
  position: relative;
  border-bottom: 1px solid;
  background-color: var(--background);
  z-index: var(--z-post-closed);

  div {
    max-width: none !important;
    z-index: var(--z-image-post);
  }

  .image {
    height: var(--height);
    object-fit: contain;
    padding-bottom: 1px;
  }

  &.open {
    --height: 100vh;
    z-index: var(--z-post);

    audio {
      display: block;
    }

    figure {
      padding: calc(2 * var(--outer-margin));
    }

    .image {
      height: calc(100vh - 4 * var(--outer-margin)) !important;
    }
  }
}