.text {
  --margin: var(--outer-margin);
  --height: 5rem;
  position: relative;
  border-bottom: 1px solid;

  @include mq($from: desktop) {
    --margin: 26%;
  }

  height: var(--height);
  background-color: var(--background);
  overflow: hidden;
  z-index: var(--z-post-closed);

  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include mq($until: desktop) {
      padding-left: var(--outer-margin);
      padding-right: var(--outer-margin);
    }
  }

  p {
    display: inline-block;
    width: auto;
    max-width: 55ch;
    margin-bottom: 1em;
  }

  header {
    h2 {
      width: 100%;
      display: block;
      align-items: center;

      @include mq($from: desktop) {
        justify-content: center;
        margin-left: 0;
      }

      @include mq($until: desktop) {}

      span {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.5;

        @include mq($until: desktop) {
          max-width: 65%;
          padding-left: var(--outer-margin);
        }
      }
    }
  }

  &.open {
    --height: auto;
    padding-top: 4.5em;
    padding-bottom: 3rem;
    z-index: var(--z-post);

    audio {
      display: block;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }

  .title {
    margin-left: var(--margin);
    margin-right: var(--margin);
    text-align: center;
    margin-bottom: 1em;
    padding-bottom: 2rem;

    @include mq($until: desktop) {
      margin-left: calc(2 * var(--margin));
      margin-right: calc(2 * var(--margin));
    }
  }
}