.post {
  --height: 4rem;
  height: var(--height);
  position: relative;

  .image {
    height: var(--height);
    object-fit: contain;
  }

  &.open {
    --height: 100vh;

    audio {
      display: block;
    }

    figure {
      padding: calc(2 * var(--outer-margin));
    }

    .image {
      height: calc(100vh - 4 * var(--outer-margin)) !important;
    }
  }
}