.text {
  position: relative;
  --margin: var(--outer-margin);
  border-bottom: 1px solid;

  @include mq($from: desktop) {
    --margin: 26%;
  }

  --height: 5rem;
  height: var(--height);
  background-color: var(--background);
  overflow: hidden;
  z-index: 10;

  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include mq($until: desktop) {
      padding-left: var(--outer-margin);
      padding-right: var(--outer-margin);
    }
  }

  p {
    display: inline-block;
    width: auto;
    max-width: 55ch;
    //padding-left: var(--margin);
    //padding-right: var(--margin);
    @include mq($until: desktop) {
      //margin-right: calc(2 * var(--margin));
    }

    margin-bottom: 1em;
  }

  h2 {
    width: 100%;
    display: block;
    //height: var(--height);
    align-items: center;
    margin-left: var(--outer-margin);

    @include mq($from: desktop) {
      justify-content: center;
      margin-left: 0;
    }
  }

  h3 {
    padding-bottom: 2rem;
  }

  &.open {
    --height: auto;
    padding-top: 4.5em;
    padding-bottom: 3rem;
    z-index: var(--z-text-post);

    audio {
      display: block;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }

  .title {
    margin-left: var(--margin);
    margin-right: var(--margin);
    text-align: center;
    margin-bottom: 1em;
    @include mq($until: desktop) {
      margin-left: calc(2 * var(--margin));
      margin-right: calc(2 * var(--margin));
    }
  }

  .readingline {
    @include mq($until: desktop) {
      display: none;
    }

    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;

    &.show {
      opacity: 1;
    }

    .top,
    .bottom {
      width: 100%;
      flex: 1 1 auto;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.3);
    }

    .line {
      flex: 0 0 8rem;
    }
  }
}
