.text {
  --height: 4rem;
  height: var(--height);
  background-color: #f0f0f0;
  padding-top: 1.5em;
  overflow: hidden;

  p {
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0;
    font-size: 0.9rem;
  }

  h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  &.open {
    --height: auto;
    padding-bottom: 1rem;

    audio {
      display: block;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }

  .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;

    &.show {
      opacity: 1;
    }

    >div {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0%;
      background: rgba(0, 0, 0, 0.6);
      border-top: 2px solid #000;
      pointer-events: none;
    }
  }
}