.about {
  position: relative;
  color: var(--black);

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: var(--outer-margin);

    button {
      margin-right: 1rem;
    }
  }

  .audio {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    left: unset;
    margin: var(--outer-margin);
  }

  .close {
    position: fixed;
    top: var(--outer-margin);
    right: var(--outer-margin);
    z-index: 1;
  }
}
