.about {
  color: var(--black);

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: var(--outer-margin);

    button {
      margin-right: 1rem;
    }
  }

  .close {
    position: fixed;
    top: var(--outer-margin);
    right: var(--outer-margin);
    z-index: 1;

  }
}