.player {
  display: none;
}

.icon {
  margin-left: var(--outer-margin);
  order: -1;
  display: none;
  z-index: 100;
  background: var(--white);
  border-radius: 3rem;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  transition: all 0.1s ease-in-out;
  margin-top: -1rem;
  margin-bottom: 2rem;
  filter: var(--dropshadow);

  @include mq($from: desktop) {
    margin-left: 0;
    position: absolute;
    left: 20%;
    top: calc(8.2 * var(--outer-margin));
  }

  &.fullmargin {
    margin-left: var(--outer-margin);
    margin-top: -7rem;
    left: 0%;
    margin-left: var(--outer-margin);
  }

  &.show {
    display: flex;
  }

  &.playing {
    opacity: 1;
  }

  &.compressed {
    top: 0.5rem;
  }

  &.dark {
    svg {
      path {
        fill: var(--black);
      }

      stroke: var(--black);
    }
  }
}
