.player {
  display: none;
}

.icon {
  position: absolute;
  top: calc(2 * var(--outer-margin));
  left: calc(1 * var(--outer-margin));
  z-index: 2;
  background: var(--white);
  border: 2px solid;
  border-radius: 3rem;
  opacity: 0.8;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  transition: all 0.1s ease-in-out;

  img {
    width: 1.5rem;
    height: 1.5rem !important;
    max-height: 2rem;
  }

  &.playing {
    opacity: 1;
  }

  &.compressed {
    top: 0.5rem;
  }

  &.dark {
    filter: invert(1);
  }
}