.image {
  --height: 4rem;
  height: var(--height);

  figure {
    img {
      height: var(--height);
      object-fit: contain;
    }
  }

  &.open {
    --height: 100vh;
    figure {
      padding: var(--outer-margin);
      img {
        height: calc(100vh - 2 * var(--outer-margin));
      }
    }
  }
}
