.button {
  margin: var(--outer-margin) !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  position: fixed;
  z-index: var(--z-navbar);
  top: 0;
  right: 0;
}

.navbar {
  position: fixed;
  z-index: var(--z-navbar);
  top: 0rem;
  left: 0;
  display: flex;
  flex-direction: row;

  .accessibility {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--outer-margin);
    margin-left: var(--outer-margin);
    margin-right: calc(-0.5 * var(--outer-margin));
    width: var(--button-height);
    height: var(--button-height);
    border-radius: 50%;
  }
}