.button {
  border: 2px solid var(--black);
  background-color: var(--white);
  //color: var(--white);
  margin: var(--outer-margin);
  border-radius: 2rem;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1rem;

  &:hover {
    background-color: var(--black);
    color: var(--white);
    border-color: var(--white);
    cursor: pointer;
  }
}

.toggle {
  position: fixed;
  z-index: var(--z-navbar);
  top: 0;
  right: 0;
}

.about {
  position: fixed;
  z-index: var(--z-navbar);
  top: 0rem;
  left: 0;
  display: flex;
  flex-direction: row;

  figure {
    margin-top: var(--outer-margin);
    margin-left: var(--outer-margin);
    margin-right: calc(-0.5 * var(--outer-margin));
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    display: block;
    img {
      border-radius: 50%;
      display: inline;
      width: 3rem;
      height: 3rem;
      border: 2px solid var(--black);
      background-color: var(--white);
    }
    &:hover {
      background-color: var(--black);
      cursor: pointer;

      img {
        filter: invert(100%);
      }
    }
  }
}
