.timeline {
  position: fixed;
  top: 6rem;
  right: 0;
  right: var(--outer-margin);
  height: calc(100vh - 8rem);
  z-index: var(--z-timeline);
  color: var(--black);

  a {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--black);
    z-index: 1;
    white-space: nowrap;

    span {
      opacity: 0;

      &.active {
        opacity: 1;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}