.settings {
  position: fixed;
  top: 4rem;
  left: 0;
  padding: calc(1.5 * var(--outer-margin));
  margin: var(--outer-margin);
  background-color: var(--background);
  z-index: var(--z-settings);
  border-radius: 2rem;
  display: none;
  filter: var(--dropshadow);

  &.show {
    display: block;
  }

  p {
    label {
      width: 100%;
    }
  }

  label {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
