.settings {
  position: fixed;
  top: 4rem;
  left: 0;
  padding: calc(1.25 * var(--outer-margin));
  margin: var(--outer-margin);
  background-color: var(--background);
  z-index: var(--z-settings);
  border-radius: 2rem;
  display: none;

  &.show {
    display: block;
  }

  p {
    label {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}
