.text {
  --height: 10vh;
  height: var(--height);
  background-color: #f0f0f0;

  p {
    padding-left: 20%;
    padding-right: 20%;
  }

  &.open {
    --height: auto;
    padding-top: 1em;
    padding-bottom: 1rem;
  }
}
