.player {
  display: none;
}

.icon {
  order: -1;
  display: none;
  z-index: 100;
  margin-top: -1rem;
  margin-bottom: 2rem;

  @include mq($from: desktop) {
    margin-left: 0;
    position: absolute;
    left: 15%;
    top: 0.3rem;
  }

  &.fullmargin {
    margin-left: var(--outer-margin);
    margin-top: 3rem;
    left: 0%;
    margin-left: var(--outer-margin);
  }

  &.show {
    display: flex;
  }

  &.playing {
    opacity: 1;
  }

  &.compressed {
    top: 0.5rem;
  }
}