.button {
  margin: var(--outer-margin) !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &.intro {
    margin-left: -0.5rem !important;
  }
}

.toggle {
  position: fixed;
  z-index: var(--z-navbar);
  top: 0;
  right: 0;
}

.navbar {
  position: fixed;
  z-index: var(--z-navbar);
  top: 0rem;
  left: 0;
  display: flex;
  flex-direction: row;

  .accessibility {
    display: flex;
    margin-top: var(--outer-margin);
    margin-left: var(--outer-margin);
    margin-right: calc(-0.5 * var(--outer-margin));
    transform: rotate(90deg);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: var(--z-modal-backdrop);
}
