.date {
  position: absolute;
  top: 0;
  right: var(--outer-margin);
  height: 100%;
  display: flex;
  align-items: center;

  &.top {
    margin-top: 5rem;
    align-items: flex-start;
    @include mq($until: desktop) {
      display: none;
    }
  }
}
