.readingline {

  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: var(--z-readingline);

  &.show {
    opacity: 1;
  }

  .top,
  .bottom {
    width: 100%;
    flex: 1 1 auto;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.3);
  }

  .line {
    flex: 0 0;
    flex-basis: 8rem;
  }
}