.modal {
  position: fixed;
  top: 0rem;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: var(--z-modal);
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(4 * var(--outer-margin));
  padding-top: calc(4.5 * var(--outer-margin));
  backdrop-filter: blur(10px);
  filter: var(--dropshadow);

  article {
    flex: 1 1;
    width: 100%;
    background-color: var(--white);
    padding: calc(2 * var(--outer-margin));
    border-radius: 2rem;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-modal);
  padding: 100px;
  height: 100vh;
  width: 100%;
}
