:root {
	--black: #313131;
	--white: #fcfcfc;
	--red: #bf0000;

	--outer-margin: 1.2em;
	--navbar-height: calc(1em + calc(2 * var(--outer-margin)));
	--background: var(--white);
	--foreground: var(--black);
	--line-height: 2;

	--z-navbar: 1000;
	--z-timeline: 1100;
	--z-settings: 1200;
	--z-modal: 2000;

	--button-height: 3rem;

	@include mq($from: tablet) {
	}

	@include mq($until: tablet) {
	}
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	font-size: 100%;
	line-height: 1em;
	color: var(--foreground);
	background-color: var(--background);
	font-family: $body-font;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "kern";
	margin: 0;
	padding: 0;

	&[data-theme="dark"] {
		--background: var(--black);
		--foreground: var(--white);
	}
}

main {
	display: block;

	&.compressed {
		margin-top: 5.5rem;
	}
	section:first-of-type {
		h3 {
			margin-top: 3rem;
		}
	}
	@include mq($from: desktop) {
		section:first-of-type figure:last-of-type {
			margin-top: 0;
		}

		section:first-of-type figure:last-of-type {
			margin-top: 2rem;
		}
	}
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: var(--beige-light);
}

::-webkit-scrollbar:vertical {
	width: 10px;
}

::-webkit-scrollbar:horizontal {
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: underline;
	text-decoration-thickness: 0.12em;
	text-underline-offset: 0.15em;

	color: inherit;

	&:hover {
	}

	&:visited {
	}
}

article p a {
	text-decoration: underline 1px !important;
	text-underline-offset: 0.15em;
	text-decoration-thickness: 1px;

	&:hover {
		color: var(--beige-dark);
	}
}

.intro {
	margin-bottom: var(--small-space);
	margin-top: -0.2em;
}

button {
	color: var(--foreground);
	border: 0;

	@include mq($from: tablet) {
	}

	&.back {
		@include mq($from: tablet) {
		}
	}

	&:hover {
	}
}

figcaption {
	line-height: 1;
	font-size: 0.7em;
	margin-bottom: 1em;
}

hr {
}

input,
textarea,
select {
	&:focus {
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: calc(100% - 1em);
	background-position-y: center;
	color: var(--black);
}

section {
	width: 100%;
	position: relative;
	cursor: pointer;
}

.page-error {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	z-index: 100000;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
