$body-font: "Open", Arial, Helvetica, Sans-Serif;
$headline-font: "Open", Arial, Helvetica, Sans-Serif;

@font-face {
  font-family: "Open";
  src: url("../public/fonts/OpenDyslexic-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
